*{
    padding:0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;

}

.container{
    background: rgb(7, 7, 7);
    width: 25rem;
    padding: 10px;
    
}
.scroll-div{
    width: 400px;
    height: 500px;
    background: rgb(7, 7, 7);
    overflow-y: auto;
}
.scroll-object{
    padding: 20px;
}
::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
    border-radius: 5px;

}